@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Kaisei+Tokumin:wght@400;500&family=Poppins:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.box1 {
  width: 100vw;
  height: 100%;
  background-color: #f3eeea;
  position: relative;
}
span {
  color: rgb(192, 8, 8);
}
nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.nav-left {
  width: 100vw;
  height: 10vh;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
}
.nav-left h2 {
  margin-left: 8vw;
  font-size: 2.2rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.nav-right {
  width: 100vw;
  height: 10vh;
  font-family: "Poppins", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  margin-right: 7rem;
  margin-top: 2vh;
}
.nav-right ul {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 7rem;
  font-family: "Poppins", sans-serif;
}
ul li {
  margin-right: 4rem;
}
.content {
  width: 100cw;
  height: 90vh;
  position: relative;
  /* background-color: yellow; */
  /* background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  display: flex;
}
.content-left {
  width: 50vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  /* background-color: rgba(153, 205, 50, 0.46); */
}
.content-right {
  width: 50vw;
  position: relative;
  height: 90vh;
}
.content-right img {
  margin-top: 10vh;
  margin-left: 10vw;
  width: 35vw;
  height: 68vh;
  position: relative;
  filter: drop-shadow(2px black 5px 5px 5px 5px);
}
.context {
  width: 42vw;
  height: 55vh;
  /* background-color: tomato; */
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 3vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.context h1 {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.context h4 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.context button {
  width: 9.5vw;
  height: 6.5vh;
  border: none;
  border-radius: 0.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #d80032;
  color: #ffffffd3;
}

/*=============== Box2 ===============*/

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: #f3eeea;
  /* background-color: violet; */
}
.box21 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 15%;
  background-color: #847a7f;
  gap: 0.5vw;
  filter: drop-shadow(10px 10px 15px #5f6f52);
}

.form-control {
  width: 20vw;
}
a {
  text-decoration: none;
  color: black;
}

.box22 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 35%;
  /* background-color: violet; */
  flex-direction: column;
}
.box23 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  gap: 3vh;
  height: 40%;
  /* background-color: teal; */
}

.under_box {
  width: 70vw;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-color: #f3eeea;
  gap: 1.5vw;
}

.png_1 {
  width: 33.33vw;
  height: 100%;
  background-color: #d80032;
  background-image: url(https://img.freepik.com/free-vector/purple-phone-tablet-with-orange-stylus-3d-illustration-drawing-tablet-digital-pen-graphic-designers-3d-style-white-background-technology-entertainment-graphic-design-concept_778687-1654.jpg?w=740&t=st=1703318578~exp=1703319178~hmac=5c1d3622406c9ffe2c7e7cbcd71a1896d91e03de7060256a64848f1afce8db31);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.png_2 {
  width: 33.33vw;
  height: 100%;
  background-color: #ad183b;
  background-image: url(https://img.freepik.com/free-photo/3d-render-handshake-icon-isolated-business-concept_107791-15028.jpg?w=900&t=st=1703322762~exp=1703323362~hmac=cf7a9464911260e6cc922ac0a0a1fda1a7a7c5fdf8207c5d05044000581efa2c);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.png_3 {
  width: 33.33vw;
  height: 100%;
  background-color: #3f1b24;
  background-image: url(https://img.freepik.com/free-vector/illustration-calendar-icon_53876-5588.jpg?w=740&t=st=1703323017~exp=1703323617~hmac=a8b1ba6c2958303ade88ea9ec7bd83d742e97708a1f632d62c946d86e86b68d5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box3{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: #f3eeea;
}

.png_4 {
  width: 33.33vw;
  height: 100%;
  background-color: #d80032;
  background-image: url(https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-649.jpg?w=740&t=st=1703965036~exp=1703965636~hmac=2bf73cc90c18da3d920f23537d305cb8effa33602f0015feaa8e8ee18234e052);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.png_5 {
  width: 33.33vw;
  height: 100%;
  background-color: #ad183b;
  background-image: url(https://img.freepik.com/free-psd/realistic-school-supplies_23-2150588337.jpg?w=740&t=st=1703429531~exp=1703430131~hmac=e4c5bc2fee81e1d771a90714a6a61c8bfc3a50eed279268590706ad2ed4e27ac);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.png_6 {
  width: 33.33vw;
  height: 100%;
  background-color: #3f1b24;
  background-image: url(https://img.freepik.com/free-vector/character-illustration-people-holding-user-account-icons_53876-66068.jpg?w=900&t=st=1703429615~exp=1703430215~hmac=f17ba2f1cb1afd79018bf3cd84c8845cb53cf62b1de4bd34613ec30252b4bbf8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box31{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
 
}
.under_box2 {
  width: 70vw;
  height: 42vh;
  display: flex;
  flex-direction: row;
  background-color: #f3eeea;
  gap: 1.5vw;
}
.box32{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10%;
  flex-direction: column;
  margin-top: 3vh;
}

.box33{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: row;
  /* gap: 3vh; */
  height: 40%;
}
.box33_left{
  width: 50vw;
  height: 100%;
  background-color: yellow;
  display: flex;
  align-items: start;
  justify-content: start;
  
}
.box33_right{
  width: 50vw;
  height: 100%;
  background-color: yellowgreen;
}



